<h1>Home</h1>

<ul>
  <% @posts.each do |post| %>
    <% unless post.archived? %>
      <li>
        <%= link_to post.title, post %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Post", new_post_path %>
